#header-container {
height: fit-content;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
text-shadow: 4px 8px 15px #000000;
font-family: 'Licorice', cursive;
/* font-size: 7rem;
font-weight: 550; */
}
  